
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.4.0
SQLAlchemy==2.0.32
pymysql==1.1.1
mysqlclient==2.2.4

# NLP/ML
spacy==3.7.5
scikit-learn==1.5.1
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
regex==2024.7.24
nltk==3.9.1

# Utils
python-dotenv==1.0.1
httpx==0.27.0
python-multipart==0.0.9
